/** @format */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  /* border: 2px solid #080;  */
}

body,
html {
  scroll-behavior: smooth;
  outline: none;
}

body {
  background-color: color-mix(in srgb, white 80%, orange);
}

.container_wrapper {
  max-width: 1024px;
  width: 100%;
  clear: both;
  margin: auto;
}

.container_wrapper nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.container_wrapper nav .logo_container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.container_wrapper nav .logo_container .logo_text {
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(to right, rgb(61, 58, 58), orange);
  background-clip: text;
  font-size: 22px;
  font-weight: bolder;
}

.container_wrapper nav .nav_links {
  display: flex;
  gap: 55px;
}

.container_wrapper nav .nav_links li a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.container_wrapper nav .nav_links li {
  list-style: none;
  font-size: 22px;
}

.container_wrapper nav .social_icons {
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.container_wrapper nav .social_icons a {
  color: black;
}

.container_wrapper main {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}

.container_wrapper main .article {
  display: flex;
  flex-direction: column;
  color: black;
}

.container_wrapper main .article h1 {
  text-transform: uppercase;
}
.container_wrapper main .main_img {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_wrapper main .main_img img {
  width: 50%;
}

.container_wrapper main .main_button button {
  width: 120px;
  height: 40px;
  background-color: orange;
  color: #fff;
  border-radius: 5px;
  border-style: none;
}
